body {
  background: whitesmoke;
}

.leadertext {
  width: 55%;
  margin: auto;
  color: darkblue;
}

.refreshbtn {
  padding: 5px 22px;
  background-color: rgb(231, 231, 231);
}

.leaderbord {
  border: 2px solid darkgray;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  background: lightgray;
}

.scoreflext {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
}

.scorelist > ul > li {
  list-style-type: none;
  margin-left: -15.5%;
  border: 2px solid lightgray;
}

.scorelist {
  border: 1px solid darkgray;
}

.addform > :nth-child(3) {
  width: 8rem;
  font-size: 16px;
  margin-left: 57%;
}

.scorelist > ul :nth-child(even) {
  background-color: rgb(231, 231, 231);
}

.addform {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid lightgray;
  width: 300px;
}

.addform > input {
  padding: 0.6rem;
  outline: none;
  background-color: rgb(231, 231, 231);
}

#scorelist > li {
  display: flex;
  align-items: center;
  height: 35px;
  gap: 3%;
  border: 1.5px solid lightgray;
}

#scorelist > li > h5 {
  width: 30%;
  background-color: transparent;
}
